interactions:
- request:
    body: ''
    headers:
      x-requested-with:
      - XMLHttpRequest
    method: GET
    uri: https://diariodomunicipio.sjc.sp.gov.br/apifront/portal/edicoes/edicoes_from_data/2024-01-03.json
  response:
    body:
      string: '{"erro":false,"msg":"","data":"2024-01-03","numero":null,"ano":"","itens":[{"id":1905,"data":"03\/01\/2024","suplemento":"","numero":3141,"tipo_edicao_id":1,"tipo_edicao_nome":"Di\u00e1rio
        do Munic\u00edpio","capa":1,"paginas":10}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      x-requested-with:
      - XMLHttpRequest
    method: GET
    uri: https://diariodomunicipio.sjc.sp.gov.br/apifront/portal/edicoes/edicoes_from_data/2024-01-04.json
  response:
    body:
      string: '{"erro":false,"msg":"","data":"2024-01-04","numero":null,"ano":"","itens":[{"id":1906,"data":"04\/01\/2024","suplemento":"","numero":3142,"tipo_edicao_id":1,"tipo_edicao_nome":"Di\u00e1rio
        do Munic\u00edpio","capa":1,"paginas":2}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
